doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta( name="viewport" content="width=device-width, initial-scale=1" )
        link( rel="manifest" href="manifest.json" )
        link( rel="shortcut icon" href="favicon.ico" type="image/x-icon" )
        link( rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/icons/icon76.png")
        link( rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/icons/icon120.png")
        link( rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/icons/icon152.png")
        link( rel="apple-touch-icon-precomposed" sizes="167x167" href="/assets/icons/icon167.png")
        link( rel="apple-touch-icon-precomposed" sizes="180x180" href="/assets/icons/icon180.png")
        meta( name="apple-mobile-web-app-capable" content="yes" )
        meta( name="apple-mobile-web-app-status-bar-style" content="black" )
        meta( name="apple-mobile-web-app-title" content="Name" )
        link( href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css'
              rel="stylesheet"
        )
        link( href='assets/style/main.css'
              rel="stylesheet"
        )
        title Курс ПриватБанка
    body
        .container
            .row
                .col-12
                    table.table.time
                        tbody
                            tr
                                th(scope='col') Последнее обновление:
                                th(scope='col')
                                    span#today
                            tr
                                th(scope='col') Сеть:
                                th(scope='col')
                                    div.internet-status#internet-status
            .row
                .col-12
                    h1.main-title Конвертер валют
                    form
                        .form-group
                            label(for="input") Сумма
                            input(
                                type="text"
                                placeholder="0.00"
                                )#input.form-control
                            //small#emailHelp.form-text.text-muted.
                            //    Введите сумму
                        .row
                            .col-sm-6
                                .form-group
                                    label(for="cy") Валюта
                                    select.form-control#cy
                            .col-sm-6
                                .form-group
                                    label(for="type") Я хочу
                                    select.form-control#type
                                        option(value="buy") Продать
                                        option(value="sale") Купить
                        .form-group
                            label(for="result") Результат
                            input(
                            type="text"
                            )#result.form-control

                    p
                        | Курсы валют ПриватБанка&#32;
                        a(href='https://api.privatbank.ua/#p24/exchange').
                            API предоставляет информацию о наличных, безналичных курсах валют ПриватБанка

        script(src="js/main.js")